interface AppPageLayoutProps {
  children: React.ReactNode;
}

export function AppPageLayout({ children }: AppPageLayoutProps) {
  return (
    <div className="mx-auto px-4 py-10 max-w-4xl sm:px-6 lg:px-8">
      {children}
    </div>
  );
}
