<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
  <text x="250" y="355" text-anchor="middle" style="font-size:444px;font-family:{{brandFont}};fill:{{brandColorDark}}">{{domainFirstLetter}}</text>
</svg>
