import { Routes, Route } from 'react-router-dom';
import { Layout } from './components/Layout';
{{#hasAuth}}
import { ProtectedRoute } from './components/ProtectedRoute';
import { Profile } from './pages/Profile';
{{/hasAuth}}
import { Home } from './pages/Home';
import { About } from './pages/About';
import { Terms } from './pages/Terms';
import { Version } from './pages/Version';
import { PageNotFound } from './pages/PageNotFound';

function App() {
  return (
    <Routes>
      <Route element={<Layout />}>
        <Route path="/" element={<Home />} />
        <Route path="/about" element={<About />} />
        <Route path="/terms" element={<Terms />} />
        <Route path="/version" element={<Version />} />
{{#hasAuth}}
        <Route
          path="/profile"
          element={
            <ProtectedRoute>
              <Profile />
            </ProtectedRoute>
          }
        />
{{/hasAuth}}
        <Route path="*" element={<PageNotFound />} />
      </Route>
    </Routes>
  );
}

export default App;
